/* main */
body {
  background: #fafcff;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-columns {
  display: flex;
  margin-top: -25px;
}

.bubble-column {
  display: flex;
  flex-direction: column;
}

.map-column {
  display: flex;
  flex-direction: column;
}

.chord-column {
  margin-top: -55px;
}

.filter-container {
  padding: 10px;
}

.description-arrow {
  font-weight: bold;
  font-size: 20px;
}

/* bubble */
#bubble-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
  min-width: 120px;
  color: #333;
}

.bubble.active {
  stroke: #1c1427;
  stroke-width: 4px;
}
.legend {
  margin-top: 2%;
  list-style: none;
  padding: 0;
  width: 150px;
  font-size: 14px;
}
ul li {
  float: left;
  width: 70%;
}
ul {
  list-style-type: disc;
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
  list-style-position: inside;
  padding-inline-start: 10px;
}
.legend-btn {
  display: inline-block;
  margin: 5px;
  transition: all ease-in-out 200ms;
  border-color: #333333;
}
.legend-symbol {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 20px;
  display: inline-block;
  border-color: #333333;
}
.legend-btn[source='international'] .legend-symbol {
  background: #ffd93d;
}
.legend-btn[source='national'] .legend-symbol {
  background: #4350fa;
}
.legend-btn[source='subnational'] .legend-symbol {
  background: #3d9970;
}
.legend-btn[source='regional'] .legend-symbol {
  background: #ff6b6b;
}
.legend-btn[source='localPartner'] .legend-symbol {
  background: #8bdb81;
}
.legend-btn[source='newMedia'] .legend-symbol {
  background: #c300eb;
}
.legend-btn[source='other'] .legend-symbol {
  background: #aaaaaa;
}

/* symbol map */
svg#symbol-map {
  margin: 20px;
}

#symbol-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  min-width: 100px;
  padding: 5px;
  left: 900px;
  top: 250px;
}

.geo-path {
  fill: lightskyblue;
}
.geo-boundary-path {
  stroke: #fff;
  fill: none;
  stroke-width: 0.4;
}
.geo-symbol {
  fill: #3e5e79;
  fill-opacity: 0.5;
}
.geo-symbol:hover {
  fill-opacity: 1;
}
.geo-label {
  font-size: 0.7rem;
  font-weight: 500;
}
.geo-visitor-label {
  font-weight: 700;
  font-size: 0.75rem;
}

/* chord */
svg#chord-diagram {
  margin-top: -20px;
}

#chord-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  padding: 8px;
  min-width: 180px;
}

/* bar chart */
text.bar-label {
  font-size: 10px !important;
}

#bar-chart text {
  font-family: sans-serif;
  font-size: 11px;
}
