#chord-tooltip {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ddd;
  min-width: 100px;
  padding: 5px;
  left: 100px;
  top: 100px;
}

#bar-chart-div {
  position: relative;
}

#bar-chart-div svg {
  position: absolute;
  left: 100px;
  top: 100px;
}
